{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
  {{ partial "mobile_nav_toggle.html" . }}
  <div class="row">
    <div class="col-lg-8">
      <div class="content-column-content">
        <h1>ERREUR 404</h1>
        <img src="/img/giphy.gif" alt="" class="img-responsive pull-left">
        <div class="clearfix"></div>
        <br>
        <br><p><a href="{{ .Site.BaseURL }}">Cliquez pour retourner au portfolio</a></p>
      </div>
    </div> 
  </div>
</div>
{{ end }}
